#header {
    background-color: #41296d;
    color: #f5f4f7;
    text-align: center;
    border: black solid;
}

#left {
    border: black solid;
    background-color: #ff6dfa;
    color: #f5f4f7;
}

#right {
    border: black solid;
    background-color: #ff6dfa;
    color: #f5f4f7;
}
 body {
     background-image: url("https://image.freepik.com/free-photo/old-cement-wall-texture_1149-1280.jpg");
 }

 #img {
     margin: 0 auto;
     float: left;
     padding: 0;
 }

 img {
     width: 100%;
 }